.skills{
    display: flex; 
    flex-direction: column; 
    gap: 3rem; 
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1366px;
    height: 100%; 
    
    h1{

    }
    .box{
        padding: 0.5rem; 
        border-radius: 0.25rem; 
        font-size: 0.875rem;
        line-height: 1.25rem; 
        color: black; 
        background-color: white; 
        cursor: pointer;
        
    }
}