.about{
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    text-align: center;
    
    .parrafo{
        color: white;
        flex: 1;
        display: flex;
        flex-direction: column;
        
    }
}