html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  background-color: #0c0c1d;
  color: lightgray;
}

section{
  height: 100vh;
  width: 100vw;
  scroll-snap-align: center;
  overflow: hidden;
  
  
}
.cero{
  height: 10px;
}